<div class="row">
  <div class="span1 pagination-centered">
    <%= link_to '<i class="icon-plus"></i>'.html_safe, source_up_path(source), remote: true, method: :put, class: "btn btn-mini" %><br />
    <span id="rating_source_<%= source.id %>" class="lead<%= source.rating >= 0 ? ' text-success' : ' text-error' %>"><%= source.rating %></span><br />
    <%= link_to '<i class="icon-minus"></i>'.html_safe, source_down_path(source), remote: true, method: :put, class: "btn btn-mini" %><br />
  </div>
  <div class="span7">
    <h2><%= link_to source.title, source %></h2>
    <p class="lead">
      <% if !source.url.empty? %><strong>URL:</strong> <%= link_to source.url, source.url %><br /><% end %>
      <% if !source.author.empty? %><strong>Author:</strong> <%= source.author %><br /><% end %>
      <% if !source.publisher.empty? %><strong>Publisher:</strong> <%= source.publisher %><br /><% end %>
      <% if !source.tags.empty? %><strong>Tags:</strong> <%= raw source.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %><% end %>
    </p>
  </div>
</div>
<% if !source.annotations.empty? %>
  <div class="row">
    <div class="offset1 span7">
      <div class="well">
        <%= markdown source.annotations.order('rating DESC').first.content %>
      </div>
    </div>
  </div>
<% end %>
