<script type="text/javascript">
  function vote_source(link, caller) {
    console.log(link);
    $.ajax({
      url: link,
      type: 'PUT',
      success: function(res) {
        console.log(res);
        console.log($(caller).parent().parent().children(".label").text());
        $(caller).parent().parent().children(".label").text(res.rating);
      },
    });
  };
</script>
<div class="row">
  <div class="offset2 span8">
    <p id="tag_cloud">
      <% tag_cloud Source.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="span8 offset2">
    <h1>Sources</h1>
    <% @sources.each do |source| %>
      <div class="row">
        <div class="span1">
          <div class="btn-group btn-group-vertical">
            <button class="btn" onclick="vote_source('<%= source_up_path(source) %>', this);">▲</button>
            <button class="btn" onclick="vote_source('<%= source_down_path(source) %>', this);">▼</button>
          </div>
          <span class="label"> <%= source.rating %> </span>
        </div>
        <div class="span7">
          <h2><%= link_to source.title, source %></h2>
          <p class="lead">
            <strong>URL:</strong> <%= link_to source.url, source.url %><br />
            <strong>Author:</strong> <%= source.author %><br />
            <strong>Publisher:</strong> <%= source.publisher %><br />
            <strong>Tags:</strong> <%= raw source.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
          </p>
        </div>
      </div>
      <% if !source.annotations.empty? %>
        <div class="row">
          <div class="offset1 span7">
            <div class="well">
              <%= markdown source.annotations.order('rating DESC').first.content %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= link_to 'New Source', new_source_path %>
  </div>
</div>
