<div class="row">
  <div class="offset3 span6 pagination-centered">
    <p id="tag_cloud">
      <% tag_cloud Source.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </p><br />
    <%= form_tag sources_path, method: :get, class: "form-search" do %>
      <div class="input-append">
        <%= text_field_tag :query, params[:query], class: "input-medium search-query" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<hr />
<div class="row">
  <div class="offset2 span8">
    <div class="pull-right">
      <div class="btn-group">
        <%= link_to '<i class="icon-plus-sign"></i>'.html_safe, new_source_path, class: "btn btn-mini", title: "New Source" %>
      </div>
      <div class="btn-group">
        <%= link_to '<i class="icon-th"></i>'.html_safe, params.merge(:view => nil, :page => nil), class: "btn btn-mini #{params[:view].nil? ? 'active' : ''}", title: "Item View" %>
        <%= link_to '<i class="icon-th-list"></i>'.html_safe, params.merge(:view => "list", :page => nil), class: "btn btn-mini #{params[:view] == 'list' ? 'active' : ''}", title: "List View" %>
      </div>
    </div>
    <% if params[:view].nil? %>
      <% @sources.each do |source| %>
        <%= render source %>
        <hr />
      <% end %>
    <% else %>
      <table class="table table-striped">
        <thead><tr><th>Rating</th><th>Title</th><th>URL</th></tr></thead>
        <tbody>
          <% @sources.each do |source| %>
            <tr><td><%= source.rating %></td><td><%= link_to source.title, source %></td><td><%= link_to_if source.url, source.url, source.url %></td></tr>
          <% end %>
        </tbod>
      </table>
    <% end %>
    <% if !params[:query] %>
      <div class="pagination-centered">
        <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
</div>
