<script type="text/javascript">
  function vote_annotation(link, caller) {
    console.log(link);
    $.ajax({
      url: link,
      type: 'PUT',
      success: function(res) {
        console.log(res);
        console.log($(caller).parent().parent().children(".label").text());
        $(caller).parent().parent().children(".label").text(res.rating);
      },
    });
  };
</script>
<div class="row">
  <div class="span8 offset2">
    <h1><%= @source.title %></h1>
    <p class="lead">
      <strong>URL:</strong> <%= link_to @source.url, @source.url %><br />
      <strong>Author:</strong> <%= @source.author %><br />
      <strong>Publisher:</strong> <%= @source.publisher %>
    </p>
    <h3>Annotations</h3>
    <div class="row">
      <% @source.annotations.order('rating DESC').each do |annotation| %>
        <div class="span1">
          <div class="btn-group btn-group-vertical">
            <button class="btn" onclick="vote_annotation('<%= source_annotation_up_path(@source, annotation) %>', this);">▲</button>
            <button class="btn" onclick="vote_annotation('<%= source_annotation_down_path(@source, annotation) %>', this);">▼</button>
          </div>
          <span class="label"> <%= annotation.rating %> </span>
        </div>
        <div class="span7">
          <div class="well">
            <%= annotation.content %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'New Annotation', new_source_annotation_path(source_id: @source.id) %>
  </div>
</div>
