<div class="row">
  <div class="offset2 span8">
    <%= link_to root_path do %>
      <i class="icon-home"></i> back to sources
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span8 offset2">
    <h1><%= @source.title %></h1>
    <p class="lead">
      <% if !@source.url.empty? %><strong>URL:</strong> <%= link_to @source.url, @source.url %><br /><% end %>
      <% if !@source.author.empty? %><strong>Author:</strong> <%= @source.author %><br /><% end %>
      <% if !@source.publisher.empty? %><strong>Publisher:</strong> <%= @source.publisher %><br /><% end %>
      <% if !@source.tags.empty? %><strong>Tags:</strong> <%= raw @source.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %><br /><% end %>
      <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_source_path(@source) %>
      <%= link_to '<i class="icon-trash"></i>'.html_safe, source_path(@source), method: :delete, data: {confirm: 'Are you sure?' } %>
    </p>
    <h3>Annotations</h3>
    <div id="annotations">
      <% @source.annotations.order('rating DESC').each do |annotation| %>
        <%= render annotation %>
      <% end %>
    </div>
    <%= link_to 'New Annotation', new_source_annotation_path(source_id: @source.id), remote: true, id: "new_annotation_link" %>
  </div>
</div>
