<div class="row">
  <%= link_to root_path do %>
    <i class="icon-home"></i> back to sources
  <% end %>
</div>
<div class="row">
  <div class="span8 offset2">
    <h1><%= @source.title %></h1>
    <p class="lead">
      <% if !@source.url.empty? %><strong>URL:</strong> <%= link_to @source.url, @source.url %><br /><% end %>
      <% if !@source.author.empty? %><strong>Author:</strong> <%= @source.author %><br /><% end %>
      <% if !@source.publisher.empty? %><strong>Publisher:</strong> <%= @source.publisher %><br /><% end %>
      <% if !@source.tags.empty? %><strong>Tags:</strong> <%= raw @source.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %><br /><% end %>
      <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_source_path(@source) %>
      <%= link_to '<i class="icon-trash"></i>'.html_safe, source_path(@source), method: :delete, data: {confirm: 'Are you sure?' } %>
    </p>
    <h3>Annotations</h3>
    <div id="annotations">
      <% @source.annotations.order('rating DESC').each do |annotation| %>
        <div class="row" id="annotation_<%= annotation.id %>">
          <div class="span1 pagination-centered">
            <button class="btn btn-mini" onclick="vote_annotation('<%= source_annotation_up_path(@source, annotation) %>', this);"><i class="icon-plus"></i></button><br />
            <span class="lead<%= annotation.rating >= 0 ? ' text-success' : ' text-error' %>"><%= annotation.rating %></span><br />
            <button class="btn btn-mini" onclick="vote_annotation('<%= source_annotation_down_path(@source, annotation) %>', this);"><i class="icon-minus"></i></button>
          </div>
          <div class="span7">
            <div class="well">
              <%= link_to '<i class="icon-trash pull-right"></i>'.html_safe, source_annotation_path(@source, annotation), method: :delete, data: {confirm: 'Are you sure?' }, remote: true, id: "delete_annotation_#{annotation.id}" %>
              <%= link_to '<i class="icon-pencil pull-right"></i>'.html_safe, edit_source_annotation_path(@source, annotation), remote: true, id: "update_annotation_#{annotation.id}" %>
              <div id="annotation_content_<%= annotation.id %>">
                <%= markdown annotation.content %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'New Annotation', new_source_annotation_path(source_id: @source.id), remote: true, id: "new_annotation_link" %>
  </div>
</div>
