<div class="row" id="annotation_<%= annotation.id %>">
  <div class="span1 pagination-centered">
    <%= link_to '<i class="icon-plus"></i>'.html_safe, source_annotation_up_path(annotation.source, annotation), remote: true, method: :put, class: "btn btn-mini" %><br />
    <span id="rating_annotation_<%= annotation.id %>" class="lead<%= annotation.rating >= 0 ? ' text-success' : ' text-error' %>"><%= annotation.rating %></span><br />
    <%= link_to '<i class="icon-minus"></i>'.html_safe, source_annotation_down_path(annotation.source, annotation), remote: true, method: :put, class: "btn btn-mini" %>
  </div>
  <div class="span7">
    <table class="table"><tr><td>
      <%= link_to '<i class="icon-trash pull-right"></i>'.html_safe, source_annotation_path(annotation.source, annotation), method: :delete, data: {confirm: 'Are you sure?' }, remote: true, id: "delete_annotation_#{annotation.id}" %>
      <%= link_to '<i class="icon-pencil pull-right"></i>'.html_safe, edit_source_annotation_path(annotation.source, annotation), remote: true, id: "update_annotation_#{annotation.id}" %>
      <div id="annotation_content_<%= annotation.id %>">
        <%= markdown annotation.content %>
      </div>
    </td></tr></table>
  </div>
</div>
